$colors:(
        primary-color:red,
        secondary-color:green,
        third-color:blue,
);
.box{
  width: 100px;
  height: 100px;
  background-color: map-get($colors,primary-color);

  &:hover{
    background-color: green;
  }

}
