@import "variables";

.button-dada{
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  background-color: green;
}
.child{
  /*padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;*/
  @extend .button-dada;
  background-color: red;
}
